stages:
  - test
  - build
  - deploy

# variables:
#   NETLIFY_SITE_ID: "ccdffe82-0843-446f-857b-9f9fff882352"
#   NETLIFY_AUTH_TOKEN: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDA2Lh3ejbnm3v42RitQ6FIbeHVHrLRGhBrJhDrDA0NZnkyBz2/Rj6kimi3Xq9c4pD0cZZHzwaW1x16EawLoaRe25d+qCDxIOQGwqUp6yNyvxhrnkOAzm+LrMn82HH8tYp5LTQ5RlOg5sO7lQgn7QOSPLDCavnOSsacltj/k4NkKFBcw1ncxNNPI1a0fewXBCF8T3PkuRFNprJtuCL+3fhw6P4keEoUHwEbxGwkU60jf4DDpuq8uq8rtxvyjTCW+KZwlpPvMdR+o9tI3UICttMkkAj2XL+6/rfRfgReG8UZgltf4Cogf1SwU0tAsW4ddoEgSynpaapeYTKA9qezuRoCw6DXvlE97jD64sLmYn3AZRxV3pUsGwMe+Kb1CCu9EktyDKbhvvKLP31dIXeEEUbHfRx86KUa0OL8QyYrfWkDhHHlWcEop+M7PRUjUPjuZ6bWOgxD62Pgjx6IHiHsZiShWvMIFqqdsqwYF6cprmAs6Iu4x6mxlys7PcegdVF9zZKdsHqvwYfDmzPjS8sjxBQj8Vq3mY/16+xhPlumEOPIbMofACEpDES+E8OCtDZyhM/MBWgQyTjkajdd93Zcj4uhNYjkNqR+SJ60nKE33mROUaBO74aITse7/JT56o42/xIhGuXAD6N7QbAyryNBUxXPkfvQscoTMSiXuasYoU2Syw=="

# # build:
# #   stage: build
# #   image: node:18.13.0
# #   script:
# #     - npx yarn
# #     - npx yarn build

# deploy:
#   stage: deploy
#   image: node:18.13.0
#   script:
#     - npx yarn global add netlify-cli
#     - netlify login -t $NETLIFY_AUTH_TOKEN
#     - netlify deploy --site $NETLIFY_SITE_ID --prod --dir build
