
@media (min-width: 768px) {
    .action {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .icons {
        cursor: pointer;
    }

    .status-text {
        margin-left: 10px;
    }
}


@media (max-width: 767px) {
    .action {
        display: block;
    }

    .icons {
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .status-text {
        display: block;
        margin-top: 5px;
    }
}
